@{
    ViewData["Title"] = "Pagamentos";
      <!-- Define o título da página como "Pagamentos", que será exibido na aba do navegador ou no cabeçalho da página. -->
}

<div class="text-center">
    <!-- Cria uma seção centralizada na página. -->
    <h1 class="display-7">Pagamentos</h1>  <!-- Exibe um título principal "Pagamentos" na página. -->

    <!-- Exibe uma mensagem informando que as informações sobre pagamentos serão exibidas aqui. OBS: Há um erro de tag, o correto seria <p> ao invés de <l1>. -->
    <l1 class="display-7">Aqui estará as informações sobre os pagamentos</l1>  
</div>
