@{
    ViewData["Title"] = "Relatórios";
      <!-- Define o título da página como "Relatórios", que será exibido na aba do navegador ou no cabeçalho da página. -->
}

<div class="text-center">
    <!-- Cria uma seção centralizada na página. -->
    <h1 class="display-7">Relatórios do Sistema.</h1>  <!-- Exibe o título principal "Relatórios do Sistema". -->

    <p class="display-7">Aqui é onde estarão os relatórios do sistema.</p>  <!-- Exibe um parágrafo informativo sobre a seção de relatórios. OBS: Correção de tag e ajuste gramatical. -->
</div>
