
@{
    ViewData["Title"] = "Relátorios";
}
<div class="text-center">
    <h1 class="display-7">Relátorios do Sistema.</h1>
    <l1 class="display-7">Aqui onde estará os relatorios do Sistema.</l1>
</div>


