@model Funcionario
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-7">Bem Vindo, @Model.Name</h1>
    <p>Olá escolha o serviço que deseja inicializar.</p>
</div>
