@{
 
    ViewData["Title"] = "Relatórios"; 
    <!-- Define o título da página como "Relatórios", que será exibido na aba do navegador ou no cabeçalho da página. -->
}
<!-- Exibe um parágrafo com o texto "Minha página de privacidade." na página. -->
<p>Minha página de privacidade.</p> 
