
@{
    ViewData["Title"] = "Cadastros";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="CriarCliente">Cadastar novo cliente</a>
    </div>
    <br />

    <h1 class="display-7">Alunos Cadastrados</h1>
    
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Contato</th>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">0</th>
            <td>Carlos</td>
            <td>575.544.343-65</td>
            <td>(88)23423043</td>
            <td>A</td>
            <td>
				<a class ="btn btn-success" role="button" asp-controller="Cadastro" asp-action="EditarCliente">Editar</a>
                <a class="btn btn-danger" role="button" asp-controller="Cadastro" asp-action="DeletarCliente">Deletar</a>
            </td>
            
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>Jacob</td>
            <td>575.544.343-65</td>
            <td>(88)99344575</td>
            <td>B</td>
            <td>
                <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="EditarCliente">Editar</a>
                <a class="btn btn-danger" role="button" asp-controller="Cadastro" asp-action="DeletarCliente">Deletar</a>
                
            </td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Larry</td>
            <td>375.544.343-65</td>
            <td>(85)36732838</td>
            <td>AB</td>
            <td>
                <a class="btn btn-success" role="button" asp-controller="Cadastro" asp-action="EditarCliente">Editar</a>
                <a class="btn btn-danger" role="button" asp-controller="Cadastro" asp-action="DeletarCliente">Deletar</a>
            </td>
        </tr>

   

    </tbody>
</table>
</div>

