
@{
    ViewData["Title"] = "Cadastros";
}
<div class="text-center">
    <h1 class="display-7">Cadastro dos Alunos.</h1>
    <l1 class="display-7">Aqui estará as informações dos Alunos.</l1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Contato</th>
            <th scope="col">Categoria</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">0</th>
            <td>Carlos</td>
            <td>575.544.343-65</td>
            <td>(88)23423043</td>
            <td>A</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>Jacob</td>
            <td>575.544.343-65</td>
            <td>(88)99344575</td>
            <td>B</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Larry</td>
            <td>375.544.343-65</td>
            <td>(85)36732838</td>
            <td>AB</td>
        </tr>

   

    </tbody>
</table>


